<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html">
<body>
	<ui:composition>
		<h:outputText value="HFU - JAVA 3 - MLZ 2018" id="footer_left"/>
		<h:outputText value="Reto Weber" id="footer_right"/>
	</ui:composition>
</body>
</html>

