<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html">
<body>
	<ui:composition>
		<a class="button" href="my_movies.jsf" id="link_mymovies">#{msg.my_movies}</a>
		<a class="button" href="search_omdb.jsf" id="link_search_omdb">#{msg.search_omdb}</a>
		<a class="button" href="add_movie.jsf" id="link_addmovie">#{msg.add_movie}</a>
	</ui:composition>
</body>
</html>

