<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<h:outputStylesheet library="css" name="default.css" />
</h:head>
<h:body>
	<div id="imagecover">
		<div class="frameborder" id="header">
			<ui:insert name="header">
				<ui:include src="/templates/header.xhtml" />
			</ui:insert>
		</div>
		<div class="frameborder" id="nav">
			<ui:insert name="menu">
				<ui:include src="/templates/menu.xhtml" />
			</ui:insert>
		</div>
	</div>
	<div id="main">
		<div class="frameborder" id="detail">
			<ui:insert name="content">
				<p>content not correct inserted</p>
			</ui:insert>
		</div>
		<h:messages style="color: red"></h:messages>
	</div>
	<div class="frameborder" id="footer">
		<ui:insert name="footer">
			<ui:include src="/templates/footer.xhtml" />
		</ui:insert>
	</div>
</h:body>
</html>


