<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:composite="http://java.sun.com/jsf/composite">

<composite:interface>
	<composite:attribute name="managedBeanMoviesDetail" />
</composite:interface>

<composite:implementation>

	<table>
		<tr>
			<th><h:outputText value="Poster" /></th>
			<th><h:outputText value="#{msg.title}, #{msg.actors}" /></th>
			<th><h:outputText value="#{msg.year}" /></th>
		</tr>
		<ui:repeat var="movie"
			value="#{cc.attrs.managedBeanMoviesDetail.movies}">
			<tr>
				<td><img src="#{movie.poster}" class="imgPoster" /></td>
				<td><h:form>
						<b> <h:commandLink value="#{movie.title}"
								action="#{cc.attrs.managedBeanMoviesDetail.show_detail(movie)}" />
						</b>
						<i> <h:outputText value=", #{movie.actors}" /></i>
					</h:form></td>
				<td><h:outputText value="#{movie.year}" /></td>
			</tr>
		</ui:repeat>
	</table>

</composite:implementation>
</html>
