<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:composite="http://java.sun.com/jsf/composite">

<composite:interface>
	<composite:attribute name="movieDetail" />
</composite:interface>

<composite:implementation>
	<h:panelGrid id="movie_detail_grid" columns="2"
		rendered="#{cc.attrs.movieDetail != null}">

		<h:outputText value="#{msg.title}" />
		<h:outputText value="#{cc.attrs.movieDetail.title}" />

		<h:outputText value="#{msg.year}" />
		<h:outputText value="#{cc.attrs.movieDetail.year}" />

		<h:outputText value="#{msg.released}" />
		<h:outputText value="#{cc.attrs.movieDetail.released}"
			rendered="#{cc.attrs.movieDetail.released != null}">
			<f:convertDateTime dateStyle="long" />
		</h:outputText>
		<h:outputText value="#{msg.not_applicable}"
			rendered="#{cc.attrs.movieDetail.released == null}" />

		<h:outputText value="#{msg.runtime}" />
		<h:outputText value="#{cc.attrs.movieDetail.runtime}" />

		<h:outputText value="#{msg.genre}" />
		<h:outputText value="#{cc.attrs.movieDetail.genre}" />

		<h:outputText value="Director" />
		<h:outputText value="#{cc.attrs.movieDetail.director}" />

		<h:outputText value="#{msg.actors}" />
		<h:outputText value="#{cc.attrs.movieDetail.actors}" />

		<h:outputText value="Plot" />
		<h:outputText value="#{cc.attrs.movieDetail.plot}" />

		<h:outputText value="#{msg.language}" />
		<h:outputText value="#{cc.attrs.movieDetail.language}" />

		<h:outputText value="#{msg.country}" />
		<h:outputText value="#{cc.attrs.movieDetail.country}" />

		<h:outputText value="Awards" />
		<h:outputText value="#{cc.attrs.movieDetail.awards}" />

		<h:outputText value="Poster URL" />
		<h:outputText value="#{cc.attrs.movieDetail.poster}" />

		<h:outputText value="Metascore" />
		<h:outputText value="#{cc.attrs.movieDetail.metascore}" />

		<h:outputText value="IMDB Votes" />
		<h:outputText value="#{cc.attrs.movieDetail.imdbVotes}"
			rendered="#{cc.attrs.movieDetail.imdbVotes != null}">
			<f:convertNumber pattern="#.###" />
		</h:outputText>
		<h:outputText value="#{msg.not_applicable}"
			rendered="#{cc.attrs.movieDetail.imdbVotes == null}" />

		<h:outputText value="IMDB Rating" />
		<h:outputText value="#{cc.attrs.movieDetail.imdbRating}"
			rendered="#{cc.attrs.movieDetail.imdbRating != null}" />
		<h:outputText value="#{msg.not_applicable}"
			rendered="#{cc.attrs.movieDetail.imdbRating == null}" />

		<h:outputText value="Type" />
		<h:outputText value="#{cc.attrs.movieDetail.type}" />

		<h:outputText value="IMDB ID" />
		<h:outputText value="#{cc.attrs.movieDetail.imdbID}" />

	</h:panelGrid>

</composite:implementation>
</html>
