<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core">
<h:body>
	<ui:composition template="/templates/template.xhtml">
		<ui:define name="content">
			<h2>
				<h:outputText value="#{msg.add_movie}" />
			</h2>

			<h:form id="form">

				<h:panelGrid id="input_grid" columns="3">

					<h:outputLabel for="title" value="#{msg.title}" />
					<h:inputText id="title" maxlength="1000" required="true"
						value="#{addMovieBean.movie.title}" />
					<h:message for="title" style="color: red" />

					<h:outputLabel for="year" value="#{msg.year}" />
					<h:inputText id="year" maxlength="4"
						value="#{addMovieBean.movie.year}" 
						validator="yearValidator" />
					<h:message for="year" style="color: red" />

					<h:outputLabel for="rated" value="rated" />
					<h:inputText id="rated" maxlength="100"
						value="#{addMovieBean.movie.rated}" />
					<h:message for="rated" style="color: red" />

					<h:outputLabel for="released" value="#{msg.released}" />
					<h:inputText id="released" maxlength="10"
						value="#{addMovieBean.movie.released}">
						<f:convertDateTime pattern="dd.MM.yyyy" />
					</h:inputText>
					<h:message for="released" style="color: red" />

					<h:outputLabel for="runtime" value="#{msg.runtime}" />
					<h:inputText id="runtime" maxlength="8"
						validator="#{addMovieBean.validateRuntime}"
						value="#{addMovieBean.movie.runtime}" />
					<h:message for="runtime" style="color: red" />

					<h:outputLabel for="genre" value="#{msg.genre}" />
					<h:inputText id="genre" maxlength="1000"
						value="#{addMovieBean.movie.genre}" />
					<h:message for="genre" style="color: red" />

					<h:outputLabel for="director" value="Director" />
					<h:inputText id="director" maxlength="1000"
						value="#{addMovieBean.movie.director}" />
					<h:message for="director" style="color: red" />

					<h:outputLabel for="writer" value="Writer" />
					<h:inputText id="writer" maxlength="1000"
						value="#{addMovieBean.movie.writer}" />
					<h:message for="write" style="color: red" />

					<h:outputLabel for="actors" value="#{msg.actors}" />
					<h:inputText id="actors" maxlength="1000"
						value="#{addMovieBean.movie.actors}" />
					<h:message for="actors" style="color: red" />

					<h:outputLabel for="plot" value="Plot" />
					<h:inputText id="plot" maxlength="2000"
						value="#{addMovieBean.movie.plot}" />
					<h:message for="plot" style="color: red" />

					<h:outputLabel for="language" value="#{msg.language}" />
					<h:inputText id="language" maxlength="48"
						value="#{addMovieBean.movie.language}" />
					<h:message for="language" style="color: red" />

					<h:outputLabel for="country" value="#{msg.country}" />
					<h:inputText id="country" maxlength="48"
						value="#{addMovieBean.movie.country}" />
					<h:message for="country" style="color: red" />

					<h:outputLabel for="awards" value="Awards" />
					<h:inputText id="awards" maxlength="1000"
						value="#{addMovieBean.movie.awards}" />
					<h:message for="awards" style="color: red" />

					<h:outputLabel for="poster" value="Poster" />
					<h:inputText id="poster" maxlength="1000"
						validator="#{addMovieBean.validateUrl}"
						value="#{addMovieBean.movie.poster}" />
					<h:message for="poster" style="color: red" />

					<h:outputLabel for="rating" value="IMDB Rating" />
					<h:inputText id="rating" maxlength="20"
						value="#{addMovieBean.movie.imdbRating}" />
					<h:message for="rating" style="color: red" />

					<h:outputLabel for="votes" value="IMDB Votes" />
					<h:inputText id="votes" maxlength="9"
						value="#{addMovieBean.movie.imdbVotes}" />
					<h:message for="votes" style="color: red" />

					<h:outputLabel for="imdbId" value="IMDB ID" />
					<h:inputText id="imdbId" maxlength="9"
						value="#{addMovieBean.movie.imdbID}" />
					<h:message for="imdbId" style="color: red" />

					<h:outputLabel for="type" value="Type" />
					<h:inputText id="type" maxlength="20" required="true"
						value="#{addMovieBean.movie.type}" />
					<h:message for="type" style="color: red" />

				</h:panelGrid>

				<h:commandButton id="saveEvent" class="button"
					action="#{addMovieBean.save}" value="#{msg.save}" />
				<h:commandButton id="cancelEvent" class="button"
					action="#{addMovieBean.cancel}" value="#{msg.cancel}"
					immediate="true" />

			</h:form>
		</ui:define>
	</ui:composition>
</h:body>
</html>

