<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:mlzc="http://java.sun.com/jsf/composite/mlzcomp">
<h:body>
	<ui:composition template="/templates/template.xhtml">
		<ui:define name="content">
			<h:panelGroup rendered="#{myMoviesBean.movieDetail == null}">
				<h2>
					<h:outputText
						value="#{msg.my_movies} (#{myMoviesBean.storedMovies} stored movies)" />
				</h2>

				<mlzc:moives managedBeanMoviesDetail="#{myMoviesBean}" />

			</h:panelGroup>

			<h:panelGroup rendered="#{myMoviesBean.movieDetail != null}">
				<h2>
					<h:outputText value="Detail" />
				</h2>

				<mlzc:movieDetail movieDetail="#{myMoviesBean.movieDetail}" />

				<h:form id="form">

					<h:commandButton id="backEvent" class="button"
						action="#{myMoviesBean.close}" value="#{msg.back}" />
					<h:commandButton id="deleteEvent" class="button"
						action="#{myMoviesBean.delete}" value="#{msg.delete}" />

				</h:form>
			</h:panelGroup>

		</ui:define>
	</ui:composition>
</h:body>
</html>