<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:mlzc="http://java.sun.com/jsf/composite/mlzcomp">
<h:body>
	<ui:composition template="/templates/template.xhtml">
		<ui:define name="content">
			<h2>
				<h:outputText value="#{msg.search_omdb}" />
			</h2>

			<h:form id="formSearch">

				<h:panelGrid id="in_grid" columns="3">

					<h:outputLabel for="searchTitle" value="#{msg.title}" />
					<h:inputText id="searchTitle"
						value="#{movieSearchBean.searchTitle}">
						<f:validateRequired />
					</h:inputText>
					<h:message style="color: red" for="searchTitle" />

					<h:outputLabel for="searchYear" value="#{msg.year}" />
					<h:inputText id="searchYear" value="#{movieSearchBean.searchYear}">
						<f:validateRequired />
						<f:validateLongRange minimum="1660" maximum="2049" />
					</h:inputText>
					<h:message style="color: red" for="searchYear" />

				</h:panelGrid>

				<h:commandButton id="searchEvent" class="button"
					action="#{movieSearchBean.search}" value="#{msg.search}" />
				<h:commandButton id="cancelEvent" class="button"
					action="#{movieSearchBean.cancel}" value="#{msg.cancel}"
					immediate="true" />

			</h:form>

			<h:panelGroup rendered="#{movieSearchBean.movieDetail != null}">

				<mlzc:movieDetail movieDetail="#{movieSearchBean.movieDetail}" />

				<h:form id="formSave">
					<h:commandButton id="saveEvent" class="button"
						action="#{movieSearchBean.save}" value="#{msg.save}" />
					<h:commandButton id="backEvent" class="button"
						action="#{movieSearchBean.close}" value="#{msg.close}"
						immediate="true" />
				</h:form>
			</h:panelGroup>

			<h:panelGroup rendered="#{movieSearchBean.movies != null}">

				<mlzc:moives managedBeanMoviesDetail="#{movieSearchBean}" />

			</h:panelGroup>

		</ui:define>
	</ui:composition>
</h:body>
</html>

