@charset "UTF-8";

a:link, a:visited {
	color: lightseagreen;
	size: 1.2em;
	text-decoration: none
}

a:hover, a:active {
	color: orange;
	size: 1.2em;
	text-decoration: none
}

.button {
	padding: 8px;
	border: 2px;
	border-style: solid;
	border-radius: 4px;
	margin: 8px;
	font-style: oblique;
	font-size: 1.25em;
}

html, body {
	width: 100wv;
	height: 100hv;
	max-width: 1280px;
	margin: auto;
	padding: 2px
}

#imagecover {
	background-image:
		url("http://www.comprog.ch/images/film-1668918_1280.jpg");
	background-size: 1280px, 320px;
	height: 320px;
}

.imgPoster {
	height: 100%;
	max-height: 9em;
}

#main {
	width: 100wv;
	height: 75hv;
}

.frameborder {
	padding: 4px;
	width: 99%;
	border: 0px;
}

#header, #nav {
	display: flex;
	flex-direction: row;
	flex: 3;
	width: 98%;
	color: orange;
	font-size: 1.3em;
}

#header>span {
	width: 33%;
	height: 204px;
}

#link_mymovies, #link_search_omdb, #link_addmovie {
	padding: 12px, 6px;
	width: 32%;
	text-align: center;
	flex: 1;
}

h2{
	width: 96%;
	text-align: center;
}

table {
	border: 1px;
	border-style: solid;
	padding: 1px;
	margin-bottom: 12px;
	width: 100%;
}

th, td {
	border: 1px;
	border-color: grey;
	border-style: solid;
	padding: 4px;
	text-align: center;
}

td>input:not (.button ){
	width: 80%;
	border: 2px;
	border-style: solid;
	border-color: seaGreen;
	padding: 2px;
	margin: 2px;
	size: 40;
}

form{
	text-align: center;
	min-width: 640px;
	max-width: 800px;
	margin: auto;
}

#footer {
	display: flex;
	flex-direction: row;
	flex: 2;
}

#footer_left {
	flex: 1;
	width: 50%;
}

#footer_right {
	flex: 1;
	width: 50%;
	text-align: right;
}